{% set pageName='index' %}
{% extends "layout.njk" %}

{% block content %}
   index
   {# {% set var = '12345678910' %}
   <h1> Here comes my content that is injected to layout.njk! {{ var|shorten(3) }}</h1> #}
   {# <p>1231231</p>
   {% include "components/card.njk" %}
   <a href="/about.html">about</a> #}
{% endblock %}